doctype html
head
  meta(charset='UTF-8')
  title Dashboard
  link(rel='stylesheet' href='style.css')
.dashboard
  .cards
    #sales-card.card
    #orders-card.card
    #stock-card.card
    #outofstock-card.card.out-of-stock
  .add-product
    h2 Add Product
    form
      input(type='text' placeholder='Product Name' disabled='')
      input(type='text' placeholder='Category' disabled='')
      input(type='number' placeholder='Price' disabled='')
      input(type='number' placeholder='Quantity' disabled='')
      input(type='text' placeholder='Color' disabled='')
      button(type='button' disabled='') SAVE
      button(type='button' disabled='') CLEAR
  .product-table
    table
      thead
        tr
          th ID
          th NAME
          th CATEGORY
          th PRICE (UGX)
          th QUANTITY
      tbody#product-table-body
script(src='script.js')
