doctype html
html
  head
    title E-COMMERCE
    // Bootstrap CSS
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/css/prod.css")
    script(src='/js/products.js' defer)

  body.bg-light
    .container-fluid.py-4
      .row.stats-container
        .col-md-3
          .stat-box
            h3.text-primary UGX 50,000,000
            p.text-muted Sales

        .col-md-3
          .stat-box
            h3.text-success UGX 15,000,000
            p.text-muted Orders

        .col-md-3
          .stat-box
            h3.text-info UGX 42,000,000
            p.text-muted In stock

        .col-md-3
          .stat-box
            h3.text-warning 5
            p.text-muted Out of stock

      .row
        .col-12
          .form-container
            h2 Add Product
            #alertContainer
            form#productForm.row.g-3
              .col-md-6
                input.form-control(type='text' name='name' placeholder='Product Name' required)
              .col-md-6
                input.form-control(type='text' name='category' placeholder='Category' required)
              .col-md-6
                input.form-control(type='number' name='price' placeholder='Price' required)
              .col-md-6
                input.form-control(type='number' name='quantity' placeholder='Quantity' required)
              .col-md-6
                input.form-control(type='text' name='color' placeholder='Color')
              .col-md-6
                input.form-control(type='file' name='image' accept='image/*')
              .col-12.text-end
                button.btn.btn-secondary.me-2(type='reset') CLEAR
                button.btn.btn-primary.save-btn(type='submit') SAVE

      .row
        .col-12
          .table-responsive
            table.table.table-hover
              thead.table-dark
                tr
                  th ID
                  th NAME
                  th CATEGORY
                  th PRICE (UGX)
                  th QUANTITY
              tbody#productTable

    // Bootstrap JS
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")