doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css')
  link(rel='stylesheet' href='../public/css/bootstrap-5.3.3-dist/css/bootstrap.css')
  link(rel='stylesheet' href='../public/css/index.css')
  title Vendorsystem
.main
  .cards
    .card
      .card-content1
        .numb
          .number 1217
          .card-name Sales
          br
        .vertical
          .number4 1217
          .card-name4 Orders
    .card
      .card-content
        .number2 UGX 1217
        .card-name In stock
    .card
      .card-content1
        .number1 5
        .card-name Out of stock
    .card
      .form-content1
        form(action='/addproduct' method='post')
          h2 Add Product
          .user-input-box
            input(type='text' name='pname' placeholder='Product Name')
            br
            input(type='text' name='category' placeholder='Category')
            br
            input(type='number' name='price' placeholder='Price')
            br
            input(type='number' name='quantity' placeholder='Quantity')
            br
            input(type='text' name='color' placeholder='Color')
            br
            input#image(type='image' name='uploadimage' placeholder='Upload image')
            br
            button.save(type='submit') SAVE
            button.clear(type='submit') CLEAR
    .cards
      .table-content
        table
          tr
            th ID
            th NAME
            th CATEGORY
            th PRICE(UGX)
            th QUANTITY
          tr
            td
script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='../public/css/director.js')
