<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card" >
                <div class="card-flex">
                    <div class="card-center">
                        <div class="insight-value">UGX 50,000,000</div>
                        <div class="insight-title">Sales</div>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-center">
                        <div class="insight-value">UGX 15,000,000</div>
                        <div class="insight-title">Orders</div>
                    </div>
                </div>
            </div>
            <div class="add-product">
                <h3>Add Product</h3>
                <form>
                    <input type="text" placeholder="Product Name">
                    <input type="text" placeholder="Category">
                    <input type="number" placeholder="Price">
                    <input type="number" placeholder="Quantity">
                    <div class="add-product-row">
                        <input type="text" placeholder="Color">
                        <input type="file" disabled>
                    </div>
                    <div class="add-product-btns">
                        <button type="submit" class="save-btn">SAVE</button>
                        <button type="reset" class="clear-btn">CLEAR</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="card insight-green">
                <div class="insight-value">UGX 42,000,000</div>
                <div class="insight-title">In stock</div>
            </div>
            <div class="card">
                <div class="insight-value insight-red">5</div>
                <div class="insight-title">Out of stock</div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CATEGORY</th>
                    <th>PRICE(UGX)</th>
                    <th>QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#645341</td>
                    <td>Sumsang s25+ Ultra</td>
                    <td>Smart Phones</td>
                    <td>6,900,000</td>
                    <td>981</td>
                </tr>
                <tr>
                    <td>#645346</td>
                    <td>Gucci XXL Shirt</td>
                    <td>Fashion</td>
                    <td>500,000</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>#645342</td>
                    <td>XL Zara Shirt</td>
                    <td>Fashion</td>
                    <td>600,000</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>#645344</td>
                    <td>iPhone 15</td>
                    <td>Smart Phones</td>
                    <td>7,900,000</td>
                    <td>752</td>
                </tr>
                <tr>
                    <td>#645343</td>
                    <td>Smart home Curtain</td>
                    <td>Interior Design</td>
                    <td>500,000</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>#645345</td>
                    <td>Spectrum Laptop 14.6 Inc</td>
                    <td>Laptops</td>
                    <td>15,800,000</td>
                    <td>144</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html> 