{% load crispy_forms_tags %}

<!-- Success message -->
{% if success %}
<div class="alert alert-success">
    Product has been added successfully!
</div>
{% endif %}

<!-- Add Product Form -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-warning">SAVE</button>
</form>

<!-- Product Table -->
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>ID</th><th>NAME</th><th>CATEGORY</th>
            <th>PRICE (UGX)</th><th>QUANTITY</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>#{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price|floatformat:0 }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
