  table
    thead
      tr
        th Product name
        th Category
        th Price
        th Quantity 
        
    tbody
       if products.length 
        each product in products
          tr
            td #{product.produceName}
            td #{product.category}
            td #{product.price}
            td #{product.quantity}
        

