meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Produce List - KGL
link(rel="stylesheet", href="/css/producelist.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

.sidebar
  .sidebar-header
    h2 Karibu Groceries Ltd
  ul.sidebar-menu
    li
      a(href="/admin")
        i.fas.fa-home
        span Dashboard
    li
      a(href="/addProduce")
        i.fas.fa-user-plus
        span Register Produce
    li
      a(href="/produceList").active
        i.fas.fa-users
        span Products List
    li
      a(href="/saleslist")
        i.fas.fa-clipboard-check
        span Sales
  
    li
      a(href="/logout")
        i.fas.fa-sign-out-alt
        span Logout

.main-content
  .header
    h1 Products List
    a.add-child-btn(href="/addProduce")
      i.fas.fa-plus
      | Add Produce
  .search-bar
    input(type="text", placeholder="Search produce...")
    button
      i.fas.fa-search
      | Search
  table
    thead
      tr
        th Product name
        th Category
        th Price
        th Quantity 
        
    tbody
       if products.length 
        each product in products
          tr
            td #{product.produceName}
            td #{product.category}
            td #{product.price}
            td #{product.quantity}
        

