{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="E-commerce" content="Loading page for stock addition" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Update stock</title>
</head>

<body>
        
        {% block content %}
        <div class="container">    
    
    <br>
            <div class="row">
                
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col">
                                <div class="card" style=" border-radius: 6px;">
                                    <div class="card-header">
                                            <h4>UGX {{ sales }}</h4>
                                    <div class="card-body">
                                        <span>Sales</span>
                                    </div>
                                </div>                                
                            </div>
                            <br> <br> <br> <br>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card" style="border-radius: 6px;">
                                            <div class="card-header">
                                                    <h5 style="color: rgb(148, 234, 20);">UGX 42,000,000</h5>
                                            <div class="card-body">
                                                <span>In stock</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col">
                                        
                                    </div>
                                </div>                                 
                            </div>                                                       
                        </div>
                    </div>

                <div class="col">
                    <div class="container container-fluid">
                        <div class="card p-4" style=" border-radius: 6px;">
                            <div class="container-fluid-top" style="font-weight: 800;">
                                <h4>Add Product</h4>
                            </div>
                            <div class="container-fluid-top">
                                <p style="background-color: rgb(136, 218, 13); color: white;text-align: center; align-items: center;">Product has been added successfully.</p>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                
                                {{ sales_form | crispy }}
                                <div class="line" style="padding-top: 7px; padding-bottom: 7px; border-radius: 10px; display: flex;">
                                    <input type="text" placeholder="Colour" style="padding-left: 90px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" placeholder="Upload image" style="padding-left: 90px; padding-right: 50px; padding-top: 5px; padding-bottom: 5px;">
                                </div>
                                <div class="line" >
                                    <input type="Submit" value="SAVE" class="btn" style="background-color: orange; color: white; padding-left: 130px; padding-right: 130px;">
                                    <input type="Submit" value="CLEAR" class="btn" style="background-color: rgba(168, 168, 168, 0.831); color: rgb(0, 0, 0); padding-left: 130px; padding-right: 130px;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">
                <table style="    font-size: large;
                border-style: none;
                text-align: center;
                align-items: justify; ">
    
                    <thead style="background-color: black;color: white; height: 35px;">
                        <th style="width: 250px;"> ID</th>
                        <th style="width: 250px;">NAME</th>
                        <th style="width: 250px;">CATEGORY</th>
                        <th style="width: 250px;">PRICE(UGX)</th>
                        <th style="width: 250px;">QUANTITY</th>
                    </thead>
    
                
                {% for stock in stocks %}
                <tbody style="background-color: white;color: black; border-style: inset;">
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.name }}</td>
                    <td> {{ stock.category }} </td>
                    <td> {{ stock.price }} </td>
                    <td> {{ stock.quantity }} </td>
                </tbody> 
            </div>
    
               
                {% endfor %}
                    
    
    
                </table>
       
       
       
       
     </div>
        {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>