<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="box-1">A</div>
      <div class="box-2">

<form action="/" method="post">
 
<h8>Add Product</h8>
  <div class="myform">
    <label for="addProduct"><b></b></label>
    <input type="text" placeholder="Add Product" name="addProduct" r>

    <label for="category"><b></b></label>
    <input type="text" placeholder="category" name="category" required>
    
    <label for="price"><b></b></label>
    <input type="text" placeholder="price" name="price" required>

    <label for="quantity"><b></b></label>
    <input type="text" placeholder="quantity" name="quantity" required>

    <div class="colorAndImage">

        
    <label for="color"><b></b></label>
    <input type="text" placeholder="color" name="color" required>

    
    <label for="image"><b></b></label>
    <input type="text" placeholder="image" name="image" required>



    </div>

<div class="submit-buttons"> 
    <button type="submit" class="save-button">save</button>
    <button type="clear" class="clear-button">clear</button>

</div>
   
  </div>

 
</form>



</div>


      </div>
      <div class="box-3">C</div>
    </div>
  </body>
</html>
