doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/index.css')
  title Document
.container
  .box-1 A
  .box-2
    form(action='/addProduct' method='post')
      h8 Add Product
      .myform
        label(for='addProduct')
          b
        input(type='text' placeholder='Add Product' name='addProduct' r='')
        label(for='category')
          b
        input(type='text' placeholder='category' name='category' required='')
        label(for='price')
          b
        input(type='text' placeholder='price' name='price' required='')
        label(for='quantity')
          b
        input(type='text' placeholder='quantity' name='quantity' required='')
        .colorAndImage
          label(for='color')
            b
          input(type='text' placeholder='color' name='color' required='')
          label(for='image')
            b
          input(type='text' placeholder='image' name='image' required='')
        .submit-buttons
          button.save-button(type='submit') save
          button.clear-button(type='clear') clear
  .box-3 c
.box-3
  table
    tr
      th ID
      th Product
      th Categry
      th Price
      th Quantity
  tbody
   if products.length
   each product in products
    tr
      td #{product.addProduct}
      td #{product.category}
      td #{product.price}
      td #{product.quantity}