<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="contaid  ">
      <div class="box-1">A

        <div class="price-cards">
          <div class="boxA">
            <div>
              <h6>UGX 50,000,000</h6>
              <P>Sales</P>
            </div>
            <div>
              <h2>UGX 50,000,000</h2>
              <P>Sales</P>
            </div>
          </div>


          <div class="boxB">B</div>
          <div class="boxC">C</div>

        </div>
      </div>
      <div class="box-2">

<form action="/" method="post">
 
<h8>Add Product</h8>
  <div class="myform">
    <label for="addProduct"><b></b></label>
    <input type="text" placeholder="Add Product" name="addProduct" r>

    <label for="category"><b></b></label>
    <input type="text" placeholder="category" name="category" required>
    
    <label for="price"><b></b></label>
    <input type="text" placeholder="price" name="price" required>

    <label for="quantity"><b></b></label>
    <input type="text" placeholder="quantity" name="quantity" required>

    <div class="colorAndImage">

        
    <label for="color"><b></b></label>
    <input type="text" placeholder="color" name="color" required>

    
    <label for="image"><b></b></label>
    <input type="text" placeholder="image" name="image" required>



    </div>

<div class="submit-buttons"> 
    <button type="submit" class="save-button">save</button>
    <button type="clear" class="clear-button">clear</button>

</div>
   
  </div>

 
</form>



</div>
  <div class="box-3">c</div>
    </div>
<div class="box-3">


<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
    <th>Country</th>
    <th>Country</th>


  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>


      </div>


      </div>
    
  </body>
</html>
