*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}

[class^="box-"] {
  background-color: skyblue;

/* To place the letter at the center */
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  gap: 20px;
  height: 100vh;
  grid-template-columns: auto auto auto;
  grid-template-rows: 400px 400px 400px;
  grid-template-areas: "AAAA AABB  BBBB"
                       "AAAA AABB  BBBB"
                       "CCCC CCCC  CCCC"                  ;
}